<!doctype html>
<html>
<head>
  <title>Lets Play!</title>
</head>
<body>

    <p> 
        
        Lets play !!

    </p>
    <form action="madlib">
        <label for="noun"> Please type a noun</label>
        <input type="text" name="noun" value = "noun"> <br>
        <label for="color"> Please type a color</label>
        <input type="type" name="color" value = "color"> <br>
        <label for="person"> Please type a person's name</label>
        <input type="type" name="person" value = "person"> <br>
        <label for="adjective"> Please type an adjective</label>
        <input type="type" name="adjective" value = "adjective"> <br>
        <input type="submit"> 
    </form>

</body>
</html>

